<!-- <h1>Welcome to the Angular</h1> -->
<!-- <p style="background-color:burlywood;">Hello</p> -->
<h3>{{receiveData}}</h3>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <link href="styles.css" rel="stylesheet"/>
  <link rel="stylesheet" href="./assets/claro.css">
  <link rel="stylesheet" href="./assets/esri.css"> -->
  <script src="./assets/init.js"></script>
  <script src="./assets/orgscripts.js"></script>
<div>
<app-header></app-header>
<app-content></app-content>
<!-- <app-footer
(newEvent)="dataToReceive($event)"
[fromParent]="footerMessage"></app-footer> -->
<app-footer></app-footer>
</div>
