#header {
  padding-top: 4px;
  padding-right: 15px;
  color: #444;
  font-size: 16pt;
  text-align: right;
  font-weight: bold;
  height: 55px;
  background: #fff;
  border-bottom: 1px solid #444;
}

#subheader {
  font-size: small;
  color: #444;
  text-align: right;
  padding-right: 20px;
}

#search {
  display:block;
  margin-top: 10px;
}

.bar {
  float:right;
  margin-top: 0px;
  display: block;
}

 /* #HomeButton{
  position: relative;
  color: black;
  top: 95px;
  left: 20px;
  z-index: 0;
  border-radius: 50px;
} */

#subdiv{
  top: 13%;
  width: 50%;
  height:250px;
  color: #971717;
  position: absolute;
  left: 80%;
}

#subdiv1{
  top: 21%;
  color: #979517;
  background: black;
  position:absolute;
  left: 20px;
  z-index: 1;
}

#subdiv2{
  top: 20%;
  color: whitesmoke;
  background: grey;
  position:absolute;
  right: 20px;
  z-index: 1;
}

#subdiv3{
  top: 30%;
  color: whitesmoke;
  background: grey;
  position:absolute;
  right: 20px;
  z-index: 1;
}
#map{
  /* padding: 0px 0px 10px 0px; */
  margin: 1px;
  height: 90%;
  border-radius: 50px;
}

#header, #subheader {
  text-shadow: 1px 1px 1px #cee1f0;
  filter: dropshadow(color=#cee1f0, offx=1, offy=1);
}

#rightPane {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  color: #421b14;
  width: 300px;
}

.ds {
  background: #000;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

#ds-h div {
  width: 100%;
}

#ds-l div, #ds-r div {
  height: 100%;
}

#ds-r div {
  right: 0;
}

#ds .o1 {
  filter: alpha(opacity=10);
  opacity: .1;
}

#ds .o2 {
  filter: alpha(opacity=8);
  opacity: .08;
}

#ds .o3 {
  filter: alpha(opacity=6);
  opacity: .06;
}

#ds .o4 {
  filter: alpha(opacity=4);
  opacity: .04;
}

#ds .o5 {
  filter: alpha(opacity=2);
  opacity: .02;
}

#ds .h1 {
  height: 1px;
}

#ds .h2 {
  height: 2px;
}

#ds .h3 {
  height: 3px;
}

#ds .h4 {
  height: 4px;
}

#ds .h5 {
  height: 5px;
}

#ds .v1 {
  width: 1px;
}

#ds .v2 {
  width: 2px;
}

#ds .v3 {
  width: 3px;
}

#ds .v4 {
  width: 4px;
}

#ds .v5 {
  width: 5px;
} */

/* make all dijit buttons the same width */
.dijitButton .dijitButtonNode, #drawingWrapper {
  width: 160px;
}

.gsdashboard { 
  display:flex; 
  flex-grow: row; 
  width:100%; 
  flex-wrap: wrap; 
  height:80vh; 
  }
  
 #rightPane{ 
  flex:20%; 
  }

  .table {
    background-color: white;
  }

  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }