<!-- <link rel="stylesheet" href="https://js.arcgis.com/3.36/esri/css/esri.css">
<script src="https://js.arcgis.com/3.36/"></script> -->
<div id="map" class="map">
  <div id="subdiv" >
    <div class="bar"></div>
    <div class="search" id="search"></div>
  </div>
  <div id="subdiv1">
    <div id="HomeButton"></div>
  </div>
  <div id="subdiv2">
  <div class="claro">
    Find by State Name or State FIPS: <input type="text" id="searchText" size="40" value="Kansas" />
    <input type="button" value="Find" id="doFind" />
    <div id="tbl" class="table"></div>
  </div></div>
  <div id = "subdiv3">
    <div id= "Get Details">
      US state name :
        <input type="text" id="stateName" value="Texas">
        <input id="execute" type= "button" value="Details">
        <br/>
        <div id="info" style="padding:5px; margin:5px; background-color:#eee;"></div> 
    </div>
</div></div>
<!-- <div id="viewDiv"></div> -->
