
.title {
  text-align: center;
  background-color:darkgrey;
  padding: 2px;
  margin: 0px 70% 5px 5px;

}

.container {
  text-align: center;
  display:flexbox;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40%;
  height: 20%;
  border-radius: 10px;
  flex-direction:row;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}